@use '@/assets/variables/variables.scss' as cs;
@use 'sass:color';
@use 'sass:map';

@mixin button-states(
	$background-colors: (
		'base': #ffffff00,
		'blend': #ffffffff,
	),
	$blend-amounts: (
		'default': 0%,
		'hover': cs.$ref-opacity-lighten1,
		'active': cs.$ref-opacity-lighten2,
	)
) {
	background-color: color.mix(
		map.get($background-colors, 'blend'),
		map.get($background-colors, 'base'),
		map.get($blend-amounts, 'default')
	);

	&:enabled:hover {
		background-color: color.mix(
			map.get($background-colors, 'blend'),
			map.get($background-colors, 'base'),
			map.get($blend-amounts, 'hover')
		);
	}

	&:enabled:focus,
	&:enabled:active {
		background-color: color.mix(
			map.get($background-colors, 'blend'),
			map.get($background-colors, 'base'),
			map.get($blend-amounts, 'active')
		);
	}
}
